body {
  font-family: 'Arial', sans-serif;
  background-color: #D6E4ED;
  margin: 0;
  padding: 0;
  text-align: center;
  
}

h1 {
  color: #333;
}

.list{
  background-color: #D6E4ED;
  display: flex;
  gap:10px;
  flex-wrap: wrap;
  list-style: none;
}

.image{
  width: 150px;
  height: 150px;
  object-fit: contain;

}

.list-element{
  background-color: #EEF5F9;
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  width: 150px;
  height: 230px;
  margin-top:40px;
}
.list-element:last-child {
  margin-bottom: 40px;
}
  


p{
  size: 8px;
  font-weight: bold;
}

/* Estilos para el modal */
.modal {
  display: none; 
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 300px; 
  padding: 20px; 
  background-color: #D6E4ED; 
  border: 1px solid black; 
  border-radius: 8px;
  
}

